/* Place your CSS styles in this file */

body{
    background-color: black;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: rgba(40,42,54,255);
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: verdana;
    color: white;
}

li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
}

li a:hover:not(.active) {
    background-color: #555;
}

div.header {
    margin-left: auto; 
    margin-right: 0;
    width: 89%;
    overflow:auto;
    font-size: 100%;
    display: flex;
}

div.Chart{
    margin-left: auto; 
    margin-right: 0;
    width: 89%;
    font-size: 100%;
    margin-top: 1px;
}

div.container {
    width: 49%;
    border: 2px solid black;
    border-radius: 5px;
    background: rgba(40,42,54,255);
    margin: 0;
}
div.tb_title {
    width: 49%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
}
div.header div h2{
    color: white;
    text-align: left;
    font-family: verdana;
    font-size: 100%;
    font-weight: 100;
    margin: 0;
}
#TemperatureGauge{
    width: 100%;
    margin: 0;
    display: block;
}
#HumidityGauge{
    width: 100%;
    margin: 0;
    display: block;
}
#LightGauge{
    width: 100%;
    margin: 0;
    display: block;
}
#LightGauge{
    width: 100%;
    margin: 0;
    display: block;
}

.Lightswitch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.Lightswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.Lightslider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.Lightslider:before {
    position: absolute;
    content: "";
    width: 38%;
    height: 85%;
    left: 5%;
    bottom: 7.5%;
    background-color: white;
    transition: .4s;
}
input#Lightcheckbox:checked + .Lightslider {
    background-color: #04AA6D;
}

input#Lightcheckbox:checked + .Lightslider:before {
    transform: translateX(138%);
}

.Lightslider.round {
border-radius: 34px;
}

.Lightslider.round:before {
border-radius: 50%;
}

.Fanswitch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.Fanswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.Fanslider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.Fanslider:before {
    position: absolute;
    content: "";
    width: 38%;
    height: 85%;
    left: 5%;
    bottom: 7.5%;
    background-color: white;
    transition: .4s;
}
input#Fancheckbox:checked + .Fanslider {
    background-color: #04AA6D;
}

input#Fancheckbox:checked + .Fanslider:before {
    transform: translateX(138%);
}

.Fanslider.round {
border-radius: 34px;
}

.Fanslider.round:before {
border-radius: 50%;
}

.AutoFanswitch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.AutoFanswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.AutoFanslider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.AutoFanslider:before {
    position: absolute;
    content: "";
    width: 38%;
    height: 85%;
    left: 5%;
    bottom: 7.5%;
    background-color: white;
    transition: .4s;
}
input#AutoFancheckbox:checked + .AutoFanslider {
    background-color: #04AA6D;
}

input#AutoFancheckbox:checked + .AutoFanslider:before {
    transform: translateX(138%);
}

.AutoFanslider.round {
border-radius: 34px;
}

.AutoFanslider.round:before {
border-radius: 50%;
}

div.button{
    width: 100%;
    height: 20%;
    margin: 0;
}

div.LightFan{
    margin: 0 12% 0 12%;
    width: 25%;
    height: 100%;
}

img{
    height: 75%;
    width: 100%;
}

div.control_container{
    display: flex;
    width: 49%;
    border: 2px solid black;
    border-radius: 5px;
    background: rgba(40,42,54,255);
    margin: 0;
}

#home{
    width: 100%;
    height: 100%;
}

table, td {
    font-family: verdana;
    border: 3px solid black;
    border-collapse: collapse;
    color: #ffffff;
    background-color: #555;
  }
th {
    font-family: verdana;
    border: 3px solid black;
    border-collapse: collapse;
    color: #75fac9;
    background-color: #555;
}

#More_Button{
    background-color: #04AA6D;
    border: none;
    color: white;
    margin: 2px;
    cursor: pointer;
}

#Reset_Button{
    background-color: #04AA6D;
    border: none;
    color: white;
    margin: 2px;
    cursor: pointer;
}

#SearchData {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #555;
    margin-bottom: 12px;
  }
#SearchHistory {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #555;
    margin-bottom: 12px;
  }   